#phpinfo * {padding: 4px;}
#phpinfo table {width:100%; border-collapse: collapse;}
#phpinfo tr:nth-child(odd) {background-color: #EEEEEE;}
#phpinfo .center {text-align: center;}
#phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left;}
#phpinfo .center th { text-align: center !important; }
#phpinfo td, #phpinfo th { border: 1px solid silver; vertical-align: baseline;}
#phpinfo td {    overflow-x: scroll;max-width: 200px;vertical-align: top;}
#phpinfo th {font-weight: bolder}
#phpinfo h1 {font-size: 150%; padding: 4px;}
#phpinfo h2 {font-size: 125%;}
#phpinfo .e {text-align: left;color: white;font-weight: bold; padding: 4px; background-color: #2EAE9B; min-width: 200px;}
#phpinfo .h {text-align: left;color: white;font-weight: bold; padding: 4px; background-color: red; min-width: 200px; vertical-align: middle;}
#phpinfo .v { min-width: 200px;}
#phpinfo h1.p {text-align: left; color: gray; font-weight: bold; padding: 4px;}
#phpinfo img {
   /* Source: http://stackoverflow.com/a/12921987 */
   float: right;     -webkit-filter: drop-shadow(4px 4px 25px rgba(0,0,0,0.5));
   filter: url(#drop-shadow);
   -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
}
#phpinfo hr {display: none}

/* Navigation */
ul.nav-tabs {display: table; list-style-type: none; margin: 0; padding: 0;}
ul.nav-tabs>li {float: left;padding: 10px;}
ul.nav-tabs>li:hover {background-color: #fff;}
ul.nav-tabs>li.active {background-color: #2EAE9B; }
ul.nav-tabs>li.active a {color: #fff;}
ul { overflow: auto; }
ul.nav-tabs li:hover > ul {display: block;position: absolute;background-color: #fff;}
ul.dropdown-menu {display: none;list-style: none;padding: 0;}
ul.dropdown-menu li {float: none;position: relative;background-color: #2EAE9B;padding: 5px;padding-left: 10px;padding-right: 10px;}
ul.dropdown-menu li a {color: #fff;}
ul.dropdown-menu li a:hover {color:#000;}
