#phpinfo * {padding: 4px;}
#phpinfo table {width:100%; border-collapse: collapse;}
#phpinfo .center {text-align: center;}
#phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left;}
#phpinfo .center th { text-align: center !important; }
#phpinfo td, #phpinfo th { border: 1px solid silver; vertical-align: baseline;}
#phpinfo td {    overflow-x: scroll;max-width: 200px;vertical-align: top;}
#phpinfo th {font-weight: bolder}
#phpinfo h1 {font-size: 150%; padding: 4px;}
#phpinfo h2 {font-size: 125%;}
#phpinfo .h, #phpinfo .p, #phpinfo .e {text-align: left;color: white;font-weight: bold; padding: 4px;}
#phpinfo .e {background-color: #2EAE9B; min-width: 200px;}
#phpinfo .h {background-color: #2EAE9B; vertical-align: middle;}
#phpinfo .v { min-width: 200px;}
#phpinfo img {
   /* Source: http://stackoverflow.com/a/12921987 */ 
   float: right;     -webkit-filter: drop-shadow(4px 4px 25px rgba(0,0,0,0.5));
   filter: url(#drop-shadow);
   -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
}
#phpinfo hr {display: none}